{% extends "base.html" %}

{% block title %}
	{{ title }}
{% endblock title %}

{% block content %}
	<h1>{{ title }} </h1>
    <p>Всего: {{ count }}</p>
    {% if datails %}
    
        {% include "python_blog/post_preview_include.html" %}

        {% if posts.paginator.num_pages > 1 %}
            {% include "python_blog/include_pagination.html" %}
        {% endif %}
    {% else %}
    
    <div class="d-flex flex-wrap h-100">
        
            {% for item in data %}
                <a href="{{ item.slug }}" class="btn btn-warning py-1 px-2 mx-3 my-3 d-flex align-items-center fst-italic">{{ item.name }}</a>
            {% endfor %}
        
    </div>

    {% endif %}

    

{% endblock content %}