{% extends "base.html" %}
{% load static %}

{% block title %}
	Детальная страница поста "{{ post.title }}"
{% endblock title %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
{% endblock head %}

{% block content %}

<div class="border border-primary border-3 rounded-4 shadow px-4 py-3 w-100 mb-5 bg-light-subtle">
	<h1>Детальная страница поста "{{ post.title }}"</h1>
	<p>{{ post.content }}</p>
	<p class="fw-bold m-0">Категория:</p>
                            <a  href="{% url "blog:categories" %}{{post.category.slug}}" class="btn btn-info py-0 px-2 mb-2 fst-italic">{{post.category}}</a>
	<p class="fw-bold m-0">Tags:</p>
	 {% for tag in post.tags.all %}
        <a href="{% url "blog:tags" %}{{tag.slug}}" class="btn btn-warning py-0 px-2 fst-italic">{{tag.name}}</a>
    {% endfor %} 
	<p class="text-body-tertiary m-0 mt-2">Просмотры: {{ post.views }}</p>
</div>

<a href="{{ previous_page }}" class="btn btn-primary">Вернуться назад</a>


	
{% endblock content %}