{% load custom_tags %}
{% for item in datax %}
    <div style="border:1px solid; margin-bottom:5px">
        <p>{{ item.title }}</p>
        
        Tags:
        {% with tags_for_item=tags|get_item:item.slug %}
            {% if tags_for_item %}
                {% for tag, slug in tags_for_item.items %}
                    <a href="{% url "blog:tags" %}{{slug}}">{{ tag }}</a>
                {% endfor %}
            {% else %}
                <span>Нет тегов</span>
            {% endif %}
        {% endwith %}
        <br>

        <a href="{{ item.get_absolute_url }}">Перейти</a>
    </div>
{% endfor %}