{% extends "base.html" %}
{% load static %}

{% block title %}
	Detail page for "{{ datax.title }}"
{% endblock title %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
{% endblock head %}

{% block content %}
	<h1>Detail page for "{{ datax.title }}"</h1>
	<p>{{ datax.text }}</p>
	<p>Tags:
	{% for tag_name, tag_slug in tagsx.items %}
        <a href="{% url "blog:tags" %}{{tag_slug}}">{{tag_name}}</a>
    {% endfor %}
	</p>
	<div>Views: {{ datax.views | default:"Нет информации" }}</div>
	<div>Likes: {{ datax.likes | default:"Нет информации" }}</div>
	{% if datax.comments %}
		<h4>Comments</h4>
		{% if datax.comments %}
			{% for comment in datax.comments %}
				<span style="font-weight:500; background-color: #fff">{{ comment.username }} write:</span>
				<p>{{ comment.text }}</p>
				<hr>
			{% endfor %}
		{% else %}
			<p>No comments</p>
		{% endif %}
	{% endif %}	
{% endblock content %}