{% extends "users/profile_base.html" %}

{% block profile_content %}

{% if user.pk %}
    <p class="text-danger text-center fw-bold py-1 m-0">Вы можете изменить только свой пароль!</p>
    <form action="{% url "user:profile_password" user.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Сохранить" class="btn btn-primary">
    </form>
{% else %}
    <p class="text-danger text-center fw-bold py-5 m-0">У вас нет прав для редактирования данного профиля</p>
{% endif %}

{% endblock profile_content %}