{% extends "users/profile_base.html" %}

{% block profile_content %}

<div class="row">
    <div class="col">
        <p>НИК: {{user_prof.username}}</p>
        <p>ИМЯ: {{user_prof.first_name}}</p>
        <p>ФАМИЛИЯ: {{user_prof.last_name}}</p>
        <p>E-mail: {{user_prof.email}}</p>
    </div>
</div>
{% if is_owner %}
<a href="{% url "user:profile_edit" user.pk %}" class="btn btn-primary">Редактировать профиль</a>
<a href="{% url "user:profile_password" user.pk %}" class="btn btn-warning float-end">Обновить пароль</a>
{% endif %}

{% endblock profile_content %}